<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/moodz.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        {{>header}}  

        <div class="content">
            <p>This site was created by Thitirat Kamonpattamakul.</p>
            <img src="/img/me.jpg" class="portrait">
        </div>
        
        {{>footer}}
    </body>


</html>